/* --------------
Fonts
------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*--------------
 common styles
 ------------- */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {}


/* ---------------------
header styles start
---------------------- */

.header-background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    margin: 0 auto;
}

.header-title {
    width: 485px;
    height: 230px;
}

.header-title h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 18px;
}

.linkbtn {
    width: 168px;
    height: 44px;
}

.linkbtn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-image: linear-gradient( #ff2cc0, #bb1972);
    padding: 10px 24px;
    border-radius: 2px;
}

.linkbtn a:hover {
    background-image: linear-gradient( #ff512f, #dd2476);
}

.linkbtn .fa-arrow-right {
    width: 24px;
    height: 24px;
    margin-left: 7px;
}

.banner {
    width: 556px;
    height: 438px;
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner:hover {
    transform: rotate(360deg);
    transition: 1.5s;
    cursor: pointer;
}


/* header styles end */